:root {
  --max-width: 600px;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: burlywood;
}

#app {
  max-width: var(--max-width);
  box-sizing: border-box;
  position: relative;
  background-color: green;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  padding: 1em;
}
